{
	margin:0px;
	padding:0px;
	font-family:helvetica;
	background-color: brown;
}
div#banner
{
	width: 1000%;
	height:100px;
	background-color: red;
}
img#img_banner
{
	display: block;
	margin: auto;
}
