/*banner*/
{
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	box-sizing: border-box;
}

.banner{
	width: 100%;
	height: 600px;
	animation: banner 20s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

@keyframes banner{
	0%, 20% {
		background-image: url(../Imagen/banner1.jpg);
	}
		45%, 100% {
		background-image: url(../Imagen/banner2.jpg);
	}

}
.capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}
.info h1{
	color: #fff;
	font-size: 45px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.info p{
	color: #c7c7c7;
	line-height: 1.7;
	margin-bottom: 30px;
}
.info a{
	color: #fff;
	text-decoration: none;
	background: #3088;
	padding: 16px 37px;
	display: inline-block;
	border-radius: 50px;
}

/*Menu*/
body{
	background-image: url(../Imagen/banner4.jpg);
	background-size: cover;
}

nav{
	max-width: 900px;
	margin: auto;
	background-color: #1C4C96;
	font-size: 20px;
	margin-top: 50px;
	z-index: 99;

}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}

.menu-horizontal > li:hover{
	background-color: #56070C;
}

.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
	z-index: 99;
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
display: block;
color: white;
padding: 15px 15px 15px 20px;
text-decoration: none;
}

/*fotter*/

footer{
	max-width: 1000px;
	min-height: 130px;
	background: #000;
	margin: 0 auto;
	border-radius: 0 0 20px 20px;
	color: #fff;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	font-family: arial;
	font-size: 18px;

}